.photo-grid {
  display: grid;
  box-sizing: border-box;
  max-width: 1184px;
  grid-template-columns: repeat(auto-fill, minmax(284px, auto));
  grid-gap: 16px;
  margin: 0 48px;
  padding-top: 92px;
}

@media screen and (max-width: 979px) {
  .photo-grid {
    max-width: 720px;
    margin: 0 auto;
    padding: 64px 24px 0;
  }
}

@media screen and (max-width: 631px) {
  .photo-grid {
    max-width: 288px;
    padding-top: 38px;
  }
}
