.intro__quote-text {
  color: #fff;
  max-width: 720px;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 400;
  margin: 0;
  padding-top: 32px;
}

@media screen and (max-width: 768px) {
  .intro__quote-text {
    max-width: 720px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 400px) {
  .intro__quote-text {
    max-width: 288px;
    font-size: 16px;
    padding-top: 0;
  }
}
