.footer__copyright {
  color: #fff;
  max-width: 191px;
  max-height: 16px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  margin: 0;
  padding: 92px 0 24px;
}

@media screen and (max-width: 631px) {
  .footer__copyright {
    padding: 88px 0 24px;
  }
}

@media screen and (max-width: 631px) {
  .footer__copyright {
    padding: 64px 0 24px;
  }
}
