.cover {
  background-image: url(../../images/cover-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1184px;
}

@media screen and (max-width: 631px) {
  .cover {
    max-height: 254px;
  }
}
