.place {
  display: grid;
  max-width: 984px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 152px repeat(2, auto);
  grid-template-areas:
    "title web"
    "image text"
    "button text";
  grid-gap: 48px 40px;
  margin: auto;
  padding-bottom: 80px;
}

.place:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 979px) {
  .place {
    max-width: 720px;
    grid-template-columns: 340px auto;
    grid-template-rows: auto 340px auto;
    grid-gap: 24px 28px;
    padding-bottom: 42px;
  }
}

@media screen and (max-width: 631px) {
  .place {
    max-width: 320px;
    grid-template-columns: 320px;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "web"
      "image"
      "text"
      "text"
      "text"
      "button";
    grid-gap: 30px;
    padding-bottom: 36px;
  }
}
